/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 15px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-weight: 700;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

section {
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.project-card {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

.project-card h2 {
  margin-top: 0;
  font-size: 1.8em;
}

.project-card p {
  color: #333;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
